<!-- admin.component.html -->

<div class="admin-page">
    <header class="header">
        <h1>Admin Dashboard</h1>
        <nav>
            <button routerLink="/register">Create Manager</button>&nbsp;&nbsp;
            <button routerLink="/branch">Create Branch</button>&nbsp;&nbsp;
            <button routerLink="/allManagers">Access Managers</button>&nbsp;&nbsp;
            <button (click)="logout()">Logout</button>
        </nav>
    </header>

    <!-- Display the branches in a table -->
    <span><h4>All Branches</h4></span>
    <table class="table">
        <thead>
            <tr>
                <th>Branch Name</th>
                <th>Branch Address</th>
                <th>Branch Email</th>
                <th>Contact Number</th>
                <th>Manager</th>
                <th>Manager Email</th>
            </tr>
        </thead>
        <tbody>
            <!-- Use *ngFor to iterate through allBranches and display each branch -->
            <tr *ngFor="let branch of allBranches.data">
                <td>{{ branch.name }}</td>
                <td>{{ branch.address }}</td>
                <td>{{ branch.email }}</td>
                <td>{{ branch.phoneNumber }}</td>
                <td>{{ branch.user.name }}</td>
                <td>{{ branch.user.email }}</td>
            </tr>
        </tbody>
    </table>
</div>
