/* Add this to your global styles or component-specific styles */
.register-page {
  height: 100vh;
  background: linear-gradient(rgba(255, 99, 71, 0.8), rgba(255, 165, 0, 0.8));
  overflow: hidden;
  position: relative;
}

.card {
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.card-body {
  padding: 2rem;
}

.form-control {
  border-radius: 0;
}

.btn-primary {
  background-color: #4285f4;
  border: none;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #3a76e5;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #f8f9fa;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: black;
}

.brand {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline overline;
}

.brand-accent {
  color: #FF4500;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
